<%= form_for(@pay) do |f| %>
  <% if @pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

      <ul>
      <% @pay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capitale %><br>
    <%= f.text_field :capitale %>
  </div>
  <div class="field">
    <%= f.label :devise %><br>
    <%= f.text_field :devise %>
  </div>
  <div class="field">
    <%= f.label :habitants %><br>
    <%= f.number_field :habitants %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
